<html lang='en'>
<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<title>Home</title>
</head>
<h1>Registration PAGE</h1>
<form action="" method="POST">{%csrf_token%}
	<input type="text" name="username" placeholder="Enter username" required><br>
	<input type="email" name="email" placeholder="Enter email" required><br>
	<input type="password" name="password" placeholder="Enterpassword" required>
	<button type='submit'>Register</button>
</form>
</body>
</html>


<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registers</title>
</head>
<body>
    <h2>Registers</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
    </form>
</body>
</html> -->

